# encoding: UTF-8
<%= form_for(@contribution) do |f| %>
  <% if @contribution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contribution.errors.count, "error") %> prohibited this contribution from being saved:</h2>

      <ul>
      <% @contribution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contributor %>:
    <%= f.text_field :contributor, :placeholder => "名前" %>
    <%= f.label :email %>:
    <%= f.text_field :email, :placeholder => "mail@example.com" %>
  </div>
  <div class="field">
    <%= f.text_area :text, :size => "70x5", :maxlength => 1000 %>
  </div>
  <div class="actions">
    <%= f.submit :data => {:disable_with => "保存中..."} %>
  </div>
<% end %>
